@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Geist', sans-serif;
}

.markdown h1 {
  @apply my-4 text-5xl font-bold;
}

.markdown h2 {
  @apply my-4 text-3xl font-bold;
}

.markdown h3 {
  @apply my-4 text-2xl font-bold;
}

.markdown p {
  @apply my-4;
}

.markdown ul {
  @apply ml-4 list-disc;
}

.markdown ol {
  @apply ml-4 list-decimal;
}

.markdown li {
  @apply my-2;
}

.markdown pre {
  @apply whitespace-break-spaces rounded-md bg-neutral-900 p-4 font-mono text-sm;
}

.markdown code {
  @apply rounded-md bg-neutral-900 p-1 font-mono text-sm;
}
